.cardContainer {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
}

.oval {
  height: 46px;
  width: 46px;
  background-color: #ffffff;
  border-radius: 50%;
}

.card-back {
  position: relative;
  z-index: 1;
  background: linear-gradient(168.73deg, #ffffff 5%, #d2d3d9 91.69%);
  width: 285px;
  height: 155px;
  padding-top: 15px;
  border-radius: 16px;
}

#cardCvv {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.86px;
  letter-spacing: 2px;
  text-align: right;
  color: #ffffff;
}

.card-back-black {
  background-color: #2f2f2f;
  width: 285px;
  height: 35px;
}

.card-back-gray {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 auto;
  background-color: #adb5be;
  width: 230px;
  height: 30px;
  margin-top: 15px;
  padding-inline: 16px;
  border-radius: 8px;
}

.card-front {
  background: linear-gradient(163.95deg, #6348fe 4.74%, #610595 88.83%);
  width: 285px;
  height: 155px;
  position: relative;
  z-index: 2;
  bottom: 40px;
  left: 30px;
  padding-inline: 20px;
  border-radius: 16px;
  padding-top: 20px;
}

#cardNumber {
  border: none;
  background: fixed;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
}

.cardName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 9px;
  font-weight: 500;
  line-height: 11.48px;
  letter-spacing: 1.2857142686843872px;
  text-align: left;
  color: #ffffff;
}

.f {
  display: flex;
}

#date {
  border: none;
  background: fixed;
}

#name {
  text-transform: uppercase;
}
