.buttonCotaniner {
  display: flex;
  gap: 16px;
  justify-content: flex-end;

  button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }

  .delete {
    background-color: var(--button4);
  }
}
