.textureCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.178);
  width: fit-content;
  position: relative;
  border-radius: 12px;

  .like {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
    border: none;
    border-radius: 50%;
    top: 12px;
  }

  img {
    width: 275px;
    height: 275px;
    border-radius: 12px 12px 0 0;
  }

  .description {
    font-size: 12px;
    opacity: 0.7;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;

    .rating {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 11px;
        font-weight: bold;
        color: var(--button);
      }
    }

    .sell {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 18px;

      p {
        display: flex;
        flex-direction: column;
        font-size: 12px;

        span {
          font-size: 14px;
          font-weight: bold;
        }
      }

      button {
        border: none;
        background-color: var(--button);
        color: var(--buttonText);
        border-radius: 8px;
        padding: 10px 16px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
