.orderSummaryContainer {
  min-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", Arial, sans-serif;
  color: #333;
  width: 90%;
  height: fit-content;
}

.orderSummaryContainer h2 {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  color: #424242;
  font-weight: 700;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.summary p {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.summary p:nth-child(even) {
  background-color: #f0f4f8;
}

.summary p:last-child {
  font-size: 18px;
  font-weight: 700;
  color: #1976d2;
  background-color: #e3f2fd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.summary strong {
  font-weight: 600;
  color: #424242;
}

@media (max-width: 920px) {
  .orderSummaryContainer {
    min-width: 200px;
  }
}
