.cardDetail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 100%;
  margin-top: 90px;
  padding-inline: 24px;
  margin-bottom: 28px;

  form {
    button {
      background-color: var(--button);
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      color: white;
    }
  }
}

.holderName {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.holderNumber {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.expDate {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.cvc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#holderInput {
  width: 100%;
}

#numberInput {
  width: 100%;
}

.generalIpunts {
  display: flex;
  gap: 15px;
  margin-bottom: 32px;
}

#aayy {
  display: flex;
  gap: 8px;
  width: 100%;
}

.expDate input {
  width: 100%;
}

.cvc input {
  width: 100%;
}

.btn {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  text-align: center;
  background-color: #21092f;
  color: #ffffff;
  margin: 0 auto;
  padding-block: 15px;
  border-radius: 8px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
