form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 32px;

  .name {
    display: flex;
    gap: 12px;
  }

  input {
    width: 100%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.377);
    padding: 6px 8px;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  .city {
    display: flex;
    gap: 12px;
  }

  .number {
    display: flex;
    gap: 12px;
  }

  .tax {
    display: flex;
    gap: 12px;
  }
}
