.footerContainer {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 48px 120px;
  margin-top: 24px;
  flex-wrap: wrap;
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px;
    list-style: none;
    li {
      font-size: 12px;
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    img {
      width: 80px;
    }
    .social {
      display: flex;
      gap: 8px;
    }
  }
}

.altFooter {
  background-color: var(--button);
  display: flex;
  justify-content: space-between;
  padding: 12px 120px;
  color: var(--buttonText);

  p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footerContainer {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 24px;

    ul {
      align-items: center;
    }

    .logo {
      text-align: center;
      margin-top: 16px;
    }
  }

  .altFooter {
    flex-direction: column;
    text-align: center;
    padding: 12px 24px;
  }
}
