.basketContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 24px;

  h2 {
    text-align: center;
    letter-spacing: 1.3px;
  }
  .baksetContent {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
    border-radius: 16px;
    text-align: center;
  }

  .basketItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 80%;
    margin: 4px auto;
  }

  .productImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }

  .productDetails {
    flex: 1;
  }

  .quantityControls {
    display: flex;
    align-items: center;
    margin: 10px 0;

    button {
      width: 30px;
      height: 30px;
      background-color: var(--button);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    span {
      margin: 0 10px;
      font-size: 16px;
    }
  }

  .productPrice {
    font-weight: bold;
    color: #333;
  }
}

.progressContainer {
  margin: 20px auto;
  width: 80%;
}

.progressBar {
  background-color: #e0e0e0;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress {
  background-color: var(--button);
  height: 100%;
  transition: width 0.3s ease;
}

.progressSteps {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #aaa;
  position: relative;
  text-align: center;
}

.step.active {
  color: var(--button);
  font-weight: bold;
}

.step:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #e0e0e0;
  border: 2px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto 5px;
}

.step.active:before {
  background-color: var(--button);
  border-color: var(--button);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .next {
    margin: 5px;
    padding: 10px 20px;
    background-color: var(--button);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .previous {
    margin: 5px;
    padding: 10px 20px;
    background-color: #d4d4d4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .previous:hover {
    background-color: rgb(206, 206, 206);
  }

  .next:hover {
    background-color: rgb(226, 142, 39);
  }
}
